$linear-gradient:linear-gradient(rgba(196,102,0,0.2),rgba(155,89,182,0.2)),
url('http://thecodeplayer.com/uploads/media/gs.png');
$fonte:Montserrat,arial,verdana;
$cor-barra-progresso:white;
$largura-barra-progresso: 33.3%;
$background-botao:#27ae60;
$cor-de-fundo-botao:rgba(52,177,140,0.9);
$pano-de-fundo:white;
$caixa-sombra:0 0 15px 1px rgba(0,0,0,0.4);
$largura:390px;
$preenchimento:5px;
$cor-pano-fundo:rgba(238,249,113, 0.9);